/*=========================================
[Colors, LESS/CSS Stylesheet, HTML Template]
Version: 3.0
Author: Kevin Montgomery
===========================================*/
/* [Useful Mixins] */
/*====================
[Colors]
======================*/
/* [Shades of Black] */
/* [Print Colors] */
/* [Default Colors] */
/* [Logo Colours] */
/*====================
[ Apply Defaults ]
======================*/

body * {
  color: #4d4d4d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00aeef;
}
a,
a:link,
a:visited {
  color: #2e3192;
}
a:hover,
a:link:hover,
a:visited:hover {
  color: #00aeef;
  border-bottom-color: #00aeef;
}
a[href^="http://"],
a[href^="https://"],
a[href^="mailto:"] {
  border-bottom: 1px solid #2e3192;
}
.container .button,
.reveal-modal .button {
  background-color: #00aeef;
  color: white;
  border-right: 1px solid white;
}
.container .button:hover,
.reveal-modal .button:hover {
  color: white;
}
.container .button:active,
.reveal-modal .button:active {
  background-color: #0089bc;
}
.container .logotext,
.reveal-modal .logotext {
  color: #666666;
}
.container .logotext > span,
.reveal-modal .logotext > span {
  color: #00a0ff;
}
.container header,
.reveal-modal header {
  background-color: #bfe8ff;
}
.container .radius.colour.square,
.reveal-modal .radius.colour.square {
  background-color: #a6bcff;
  border: 2px solid #0040ff;
}
.container .bikeroute.colour.square,
.reveal-modal .bikeroute.colour.square {
  background-color: #155920;
  border: 0px;
}
.container .arterial.colour.square,
.reveal-modal .arterial.colour.square {
  background-color: none;
  border: 2px solid #99991c;
}
.container .highway.colour.square,
.reveal-modal .highway.colour.square {
  background-color: none;
  border: 2px solid #991c1c;
}
