/*------------------------------------------------------------------
[Layout Stylesheet]
Project:    Kevin Montgomery HTML
Version:    3
-------------------------------------------------------------------*/

/* [Useful Mixins] */
.round-corners(@radius: .5em) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

html { height: 100%; } 

body {
   margin: 0;
   // height: 100%;
   width: 100%; /* needed for Firefox */
}

/* [Block-level Flex] */
.flexbox() {

	display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
	display: -moz-box;      /* OLD: Firefox (buggy) */ 
	display: -ms-flexbox;   /* MID: IE 10 */
	display: -webkit-flex;  /* NEW, Chrome 21+ */
	display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

	-webkit-box-align: center; -moz-box-align: center; /* OLD… */
	-ms-flex-align: center; /* You know the drill now… */
	-webkit-align-items: center;
	align-items: center;

	-webkit-box-pack: center; -moz-box-pack: center; 
	-ms-flex-pack: center; 
	-webkit-justify-content: center;
	justify-content: center;

}

/* [Inline-level Flex] */
.inline-flexbox() {
	display: inline-flex;
	display: inline-flexbox;
	display: inline-box;
}

/* [Axis alignment: specifying alignment of items along the main flexbox axis] */
.axis-align-start() {
	justify-content: flex-start;
	flex-pack: start;
	box-pack: start;
}

.reveal-modal { 
	top: 2em;
	top: 2rem;

	li .button { margin: 0; }
}

/* [Throbber] */
.throbber {
	z-index: 9999;
	height: 100%; width: 100%;
	margin: 0 auto;
	display: none;
	text-align: center;

	.logo { width: 100%; }
	.loading_message, .refresh_warning { display: none; }

}

/* [Set up container] */
.container {
	width: 100%;
	margin: 0 auto;
	display: none;
	
	&.mockup {		
		.column, .columns {
			border: 1px solid @black;
			padding: .5em;
		}
	}
	
	.row { max-width: 100%; margin: 0; }

	.window { display: none; }
	.menu.window { display: block; }

}

.destination_types {
	li {
		img { 
			height: 1.25em; 
			height: 1.25rem;
		}
	}
}

/* [Variables should always come first, they're handy that way] */
@tablet-min: 39rem;
@screen-min: 59rem;

/* [Foundation CSS Overrides] */

/* [Mobile First View] */
.container { position: fixed; }
.container, .reveal-modal { 

	.f-dropdown > li {
		height: 4em;
		padding: 1em 0;
		border-bottom: 1px dotted @black;

		&:last-child {
			border-bottom: 0;
		}
	}

	header,
	header .row,
	header .colomn,
	header .columns {
		height: 4em;
		vertical-align: middle;
	}

	header .logo {
		margin: .5em 0;
	}

	header .logo img { height: 3em; }

	// min-height: 100%;

	#map_canvas {
		height: 25em;
		height: 25rem;
	}

	footer {
		> .maxmind_statement { display: none; }
	}

	/* [Help Colour Swatches] */
	.colour.square {
		width: 100%;
		height: 2em;
		margin: 1em 0;
	}

}

/* [Tablet Screen View] */
@media only screen and (min-width: @tablet-min) {
	
	.container {

		header,
		header .row,
		header .colomn,
		header .columns {
			height: 3em;
			vertical-align: middle;
		}

		header .logo {
			margin: .5em 0;
		}

		header .logo img { height: 2em; }
		
		#map_canvas {
			height: 22em;
			height: 22rem;
		}

	}

}

@media only screen and (min-height: @tablet-min) {

	.container {

		#map_canvas {
			height: 27em;
			height: 27rem;
		}

	}
}	

/* [Computer Screen View] */
@media screen and (min-width: @screen-min) { 
	
	.container, .throbber {
		// max-width: @tablet-min;
		position: static;
	}

}

@media screen and (min-height: @screen-min) { 
	
	.container {

		#map_canvas {
			height: 40em;
			height: 40rem;
		}

	}

}

/* [Breakpoints] */
@media screen and (min-width: 800px) { }

@media screen and (min-width: 1024px) { 
	
	.throbber, .container { 
		max-width: @screen-min;
	}

	.container { 
		margin: 1em auto;
		// min-height: 39em;
	}

}
@media screen and (min-width: 1152px) { 
	.throbber, .container { max-width: 1024px; }
}
/*
@media screen and (max-width: 1280px) {
	.container { 
		.map.columns, .trip.columns { width: 100%; }
	}
}
*/
@media screen and (min-width: 1280px) { 
	.throbber, .container { max-width: 1152px; }
}
@media screen and (min-width: 1360px) { 
	.throbber, .container { max-width: 1280px; }
}
@media screen and (min-width: 1366px) { 
	.throbber, .container { max-width: 1360px; }
}
@media screen and (min-width: 1440px) { 
	.throbber, .container { max-width: 1366px; }
}
@media screen and (min-width: 1600px) { 
	.throbber, .container { max-width: 1440px; }
}
@media screen and (min-width: 1680px) { 
	.throbber, .container { max-width: 1600px; }
}

/* [Print Style] */
@media print {
}