/*------------------------------------------------------------------
[Layout Stylesheet]
Project:    Kevin Montgomery HTML
Version:    3
-------------------------------------------------------------------*/
/* [Shades of Black] */
/* [Print Colors] */
/* [Default Colors] */
/* [Useful Mixins] */
html {
  height: 100%;
}
body {
  margin: 0;
  width: 100%;
  /* needed for Firefox */

}
/* [Block-level Flex] */
/* [Inline-level Flex] */
/* [Axis alignment: specifying alignment of items along the main flexbox axis] */
.reveal-modal {
  top: 2em;
  top: 2rem;
}
.reveal-modal li .button {
  margin: 0;
}
/* [Throbber] */

.throbber {
  z-index: 9999;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: none;
  text-align: center;
}
.throbber .logo {
  width: 100%;
}
.throbber .loading_message,
.throbber .refresh_warning {
  display: none;
}
/* [Set up container] */

.container {
  width: 100%;
  margin: 0 auto;
  display: none;
}
.container.mockup .column,
.container.mockup .columns {
  border: 1px solid #4d4d4d;
  padding: .5em;
}
.container .row {
  max-width: 100%;
  margin: 0;
}
.container .window {
  display: none;
}
.container .menu.window {
  display: block;
}
.destination_types li img {
  height: 1.25em;
  height: 1.25rem;
}
/* [Variables should always come first, they're handy that way] */
/* [Foundation CSS Overrides] */

/* [Mobile First View] */

.container {
  position: fixed;
}
.container .f-dropdown > li,
.reveal-modal .f-dropdown > li {
  height: 4em;
  padding: 1em 0;
  border-bottom: 1px dotted #4d4d4d;
}
.container .f-dropdown > li:last-child,
.reveal-modal .f-dropdown > li:last-child {
  border-bottom: 0;
}
.container header,
.reveal-modal header,
.container header .row,
.reveal-modal header .row,
.container header .colomn,
.reveal-modal header .colomn,
.container header .columns,
.reveal-modal header .columns {
  height: 4em;
  vertical-align: middle;
}
.container header .logo,
.reveal-modal header .logo {
  margin: .5em 0;
}
.container header .logo img,
.reveal-modal header .logo img {
  height: 3em;
}
.container #map_canvas,
.reveal-modal #map_canvas {
  height: 25em;
  height: 25rem;
}
.container footer > .maxmind_statement,
.reveal-modal footer > .maxmind_statement {
  display: none;
}
.container .colour.square,
.reveal-modal .colour.square {
  width: 100%;
  height: 2em;
  margin: 1em 0;
}
/* [Tablet Screen View] */

@media only screen and (min-width: 39rem) {
  .container header,
  .container header .row,
  .container header .colomn,
  .container header .columns {
    height: 3em;
    vertical-align: middle;
  }
  .container header .logo {
    margin: .5em 0;
  }
  .container header .logo img {
    height: 2em;
  }
  .container #map_canvas {
    height: 22em;
    height: 22rem;
  }
}
@media only screen and (min-height: 39rem) {
  .container #map_canvas {
    height: 36em;
    height: 36rem;
  }
}
/* [Computer Screen View] */

@media screen and (min-width: 59rem) {
  .container,
  .throbber {
    position: static;
  }
}
@media screen and (min-height: 59rem) {
  .container #map_canvas {
    height: 40em;
    height: 40rem;
  }
}
/* [Breakpoints] */

@media screen and (min-width: 800px) {
  
}
@media screen and (min-width: 1024px) {
  .throbber,
  .container {
    max-width: 59rem;
  }
  .container {
    margin: 1em auto;
  }
}
@media screen and (min-width: 1152px) {
  .throbber,
  .container {
    max-width: 1024px;
  }
}
/*
@media screen and (max-width: 1280px) {
	.container { 
		.map.columns, .trip.columns { width: 100%; }
	}
}
*/

@media screen and (min-width: 1280px) {
  .throbber,
  .container {
    max-width: 1152px;
  }
}
@media screen and (min-width: 1360px) {
  .throbber,
  .container {
    max-width: 1280px;
  }
}
@media screen and (min-width: 1366px) {
  .throbber,
  .container {
    max-width: 1360px;
  }
}
@media screen and (min-width: 1440px) {
  .throbber,
  .container {
    max-width: 1366px;
  }
}
@media screen and (min-width: 1600px) {
  .throbber,
  .container {
    max-width: 1440px;
  }
}
@media screen and (min-width: 1680px) {
  .throbber,
  .container {
    max-width: 1600px;
  }
}
/* [Print Style] */

@media print {
  
}
